body {
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}
.head-text {
    text-align: center;
    width: 452px;
    margin: auto;
}
.top-text {
    font-size: 19px;
}
h1 {
    font-size: 48px;
    margin-top: 0;
}
#comments {
    width: 452px;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
#image {
    width: 924px;
    margin: 0 auto;
    
}

.img-size {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    cursor: pointer;
}

.next {
    background-color: white;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    margin-top: 110px;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
        
}
.next1 {
    background-color: white;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    margin-top: 110px;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 845px;
}
.img-comments {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}
.h3-comments {
    padding: 30px 0px 0px 0px;
    font-size: 19px;
}
.comment {
    color: gray;
    margin-top: -20px;
    font-size: 17px;
}
.name {
    font-size: 19px;
    margin:0 0 20px 0px;
    padding-top: 10px;
}

#form {
   width: 452px;
   margin: auto;
    padding-top: 50px;
}
input {
    width: 216px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 20px;
    text-indent: 10px;
}


label {
    font-weight: bold;
    font-size: 19px;
}

.column {
    float: left;
    width: 49%;
}
.column2{
    float: right;
    width: 47%;
}

textarea {
    width: 452px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #f8f8f8;
    margin-top: 10px;
    text-indent: 10px;
}
.send-btn {
    float: right;
    margin-top: 30px;
    width: 216px;
    background-color: #04b1f9;
    border: none;
    border-radius: 10px;
    height: 35px;
    color: white;
    font-size: 22px;
    margin-bottom: 50px;
}
/*GALERIJA ========================================= */
#upload-form {
   width: 452px;
   margin: auto;
   padding-top: 50px;
   padding-bottom: 100px;
   border-bottom: 1px solid lightgray;
}
.file-namee input {
    width: 100%;
}
.file-upload{
  display:block;
  font-size: 12px;
  margin-top: 30px
}
.file-upload .file-select {
  display:block;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: gray;
  cursor:pointer;
  height:35px;
  overflow:hidden;
  position:relative;
  margin-top: 10px;
  background-color: #f6f6f6;
}
.file-upload .file-select .file-select-button {
  color: white;
  background:#4ce87c;
  padding:0 20px;
  display:inline-block;
  height:40px;
  line-height:40px;
  float:right;
  font-size: 19px
}
.file-upload .file-select .file-select-name {
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}

.file-upload .file-select input[type=file] {
  z-index:100;
  cursor:pointer;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0;
}
.column-gallery {
    float: left;
    width: 25%;
    
}
.row {
    width: 924px;
    margin: 40px auto;
}
.column-gallery img {
    height: 216px;
    width: 216px;
    object-fit: cover;
    cursor: pointer;
    
}
.column-gallery img:hover {
    opacity: 0.7;
}
.column-gallery h3{
    margin-bottom: 2px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#gallery {
    width: 100%;
    padding: 0;
    margin:  0;
    display: block;
}
.gallery-p-text {
    color: gray;
    height: 116px;
    width: 216px;
    font-size: 16px;
    margin-top: 0px;
    overflow: hidden;
}

.modal-img {
    width: 100%;
}
#modal01 {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 860px;
}
#module-form {
    height: 550px;
    width: 460px;
    padding: 10px;
    background: gray;
    border-radius: 10px;
    margin-bottom: 150px;
}
#module-form #comments {
   margin-top: -30px;
    color: white;
}
.border {
    border-bottom: 1px solid lightgray;
    width: 452px;
    margin: auto;
}
.buttons {
    padding: 40px;
    width: 200px;
    margin: 0 auto;
}
.buttons a {
    
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 2px solid gray;
    color: gray;
    cursor: pointer;
}
.blu-btn {
    background: white;
    color: #04b1f9;
    border: none;
    font-size: 21px;
    cursor: pointer;
    
}
.active {
    color: white !important;
    background-color: #04b1f9;
    border: 2px solid #04b1f9 !important;
}
.btn-wrap {
    height: 100px;
    width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}
.module-next, .module-prev {
    background-color: white;
    position: absolute;
    font-size: 20px;
    right: 30%;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.module-prev {
     left: 30%;
}
.close-btn {
    color: white;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0 12px;
    position: fixed;
    top: 20px;
    right: 10%;
    cursor: pointer;
}



@media only screen and (max-width: 414px) {
 
    body {
        padding: 5px;
    }
    .head-text {
        width: 370px;
    }
    #upload-form {
       width: 370px;
    }
    
    input {
        max-width: 370px;
    }
    
    textarea {
        max-width: 370px;
    }
    .file-select {
        max-width: 370px;
    }
    .send-btn {
        margin-right: 20px
    }
    .column-gallery {
        float: left;
        width: 50%;
    }
    .row {
        width: 414px;
        
    }
    .column-gallery img {
        height: 170px;
        width: 170px;
        object-fit: cover;
        cursor: pointer;

    }
    .gallery-p-text {
        height: 116px;
        width: 170px;
  
    }
    #image {
        max-width: 370px;
        
    }
    #comments {
        max-width: 370px;
    }
    #form {
        max-width: 370px;
    }
    #form input {
        width: 100%;
    }
    .next1 {
    margin-left: 300px;
    }
    #module-form{
        max-width: 350px;
    }
    #module-form textarea{
        max-width: 350px;
    }
    .modal-content {
        width: 95%;
    }
    .module-next{
        right: 10px;
    } 
    .module-prev {
        left: 10px;
    }
    .btn-wrap {
        max-width: 90%;

}
}
@media only screen and (min-width: 415px) and (max-width: 738px) {
 

    body {
        padding: 5px;
    }
    .head-text {
        width: 370px;
    }
    #upload-form {
       width: 370px;
    }
    
    input {
        max-width: 370px;
    }
    
    textarea {
        max-width: 370px;
    }
    .file-select {
        max-width: 370px;
    }
    .send-btn {
        margin-right: 20px
    }
    .column-gallery {
        float: left;
        width: 50%;
    }
    .row {
        width: 414px;
        
    }
    .column-gallery img {
        height: 170px;
        width: 170px;
        object-fit: cover;
        cursor: pointer;

    }
    .gallery-p-text {
        height: 116px;
        width: 170px;
  
    }
    #image {
        max-width: 370px;
        
    }
    #comments {
        max-width: 370px;
    }
    #form {
        max-width: 370px;
    }
    #form input {
        width: 100%;
    }
    .next1 {
    margin-left: 300px;
    }
    #module-form{
        max-width: 350px;
    }
    #module-form textarea{
        max-width: 350px;
    }
    .modal-content {
        width: 95%;
    }
    .module-next{
        right: 10px;
    } 
    .module-prev {
        left: 10px;
    }
    .btn-wrap {
        max-width: 90%;

    }
}








@media only screen and (min-width: 739px) and (max-width: 1024px) {
 


    body {
        padding: 50px;
    }
   
    .column-gallery {
        float: left;
        width: 33%;
    }
    .row {
        width: 700px;
        
    }
    .column-gallery img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        cursor: pointer;

    }
    .gallery-p-text {
        height: 116px;
        width: 200px;
  
    }
    #image {
        max-width: 700px;
        
    }

    .next1 {
    margin-left: 630px;
    }   
     
}